<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ContentDir" value="Content" />
    <add key="AnimationsDir" value="Content/Animations" />
    <add key="CompileScript" value="true"/>
    <add key="TexturesFolders" value="Textures" />
    <add key="EffectsFolders" value="Effects" />
    <add key="FontsFolders" value="Source\Fonts" />
    <add key="SoundsFolders" value="" />
    <add key="ModelsFolders" value="" />
    <add key="BinariesFolders" value="" />
  </appSettings>
</configuration>